
@{
    ViewBag.Title = "Personal";
    Layout = "~/Views/Shared/_LayoutLearnIT.cshtml";
}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Cá nhân</h2>
                <div class="page_link">
                    <a href="/Home/TrangChu">Home</a>
                    <a href="#">Cá nhân</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="courses_area p_120">
    <div class="container">
        <div class="row" ng-app="PersonalApp" ng-controller="PersonalController">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Thông Tin Người Dùng </strong>
                    </div>
                    <div class="card-body card-block">
                        <div class="row form-group">
                            <div class="col col-md-3"><label class="form-control-label">Username</label></div>
                            <div class="col-12 col-md-9">
                                <input class="form-control" readonly type="text" ng-model="User.Username" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Họ tên</label></div>
                            <div class="col-12 col-md-9">
                                <input class="form-control" placeholder="Họ tên..." type="text" required maxlength="50" ng-model="User.Fullname" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Email</label></div>
                            <div class="col-12 col-md-9">
                                <input class="form-control" placeholder="Số điện thoại..." type="text" required maxlength="10" ng-model="User.Email" ng-pattern="/^[0-9]+$/" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Thông tin</label></div>
                            <div class="col-12 col-md-9">
                                <textarea class="form-control" placeholder="Thông tin cá nhân..." onkeyup="textAreaAdjust(this)" style="overflow:hidden;resize: none;" required maxlength="2000" ng-model="User.Info"></textarea>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-sm" ng-click="update()">
                                <i class="fa fa-dot-circle-o"></i> Cập nhật
                            </button>
                            <button data-toggle="modal" data-target="#ChangePassword" class="btn btn-primary btn-sm" style="padding-right:4%">
                                Đổi mật khẩu
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="ChangePassword" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-info">Đổi Mật Khẩu</h3>
                            <button type="button" class="close" data-dismiss="modal" style="text-align:left" ng-click="Clear()">x</button>
                        </div>
                        <div class="modal-body" style="margin-left:20px">
                            <form class="form-horizontal " name="ChangePasswordForm">
                                <div class="row form-group ">
                                    <div class="col col-md-4"><label class="control-label"> Mật khẩu cũ </label></div>
                                    <div class="col-12 col-md-8">
                                        <input id="OldPassword" class="form-control" name="OldPassword" type="password" placeholder="Mật khẩu cũ ..." required maxlength="50" />
                                        <label id="OldPasswordError" style="color:red;display:none">Mật khẩu không đúng</label>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4"><label class="control-label"> Mật khẩu mới </label></div>
                                    <div class="col-12 col-md-8">
                                        <input class="form-control" name="NewPassword" ng-model="NewPassword" type="password" placeholder="Mật khẩu mới ..." maxlength="30" ng-pattern="/^[a-zA-Z0-9]{6,30}$/" />
                                        <label ng-if="ChangePasswordForm.NewPassword.$invalid" style="color:red">Mật khẩu không phù hợp</label>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4"><label class="control-label"> Xác nhận mật khẩu </label></div>
                                    <div class="col-12 col-md-8">
                                        <input class="form-control" name="ConfirmPassword" ng-model="ConfirmPassword" type="password" placeholder="Xác nhận mật khẩu ..." required maxlength="50" />
                                        <label ng-if="ConfirmPassword != NewPassword && ConfirmPassword != null" style="color:red">Mật khẩu không chính xác</label>
                                    </div>
                                </div>
                                <div class="text-danger">
                                    <small>- Mật khẩu từ 6 - 30 ký tự</small><br />
                                    <small>- Mật khẩu không chứa các ký tự đặc biệt</small><br />
                                    @*<small>- Mật khẩu chứa cả ký tự hoa và thường</small><br />*@
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnSave" data-dismiss="modal" ng-click="ChangePassword()">Lưu</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Clear()">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-image"></i><strong class="card-title pl-2">Hình Đại Diện</strong>
                    </div>
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <img id="output" ng-if="User.Image != null" class="rounded-circle mx-auto d-block" width="167" height="158" src="~/Content/img/UserImage/{{User.Image}}" alt="Card image cap">
                            <img id="output" ng-if="User.Image == null" class="rounded-circle mx-auto d-block"
                                 width="167" height="158" src="~/Content/img/UserImage/Default.png" alt="Card image cap">

                            <h5 class="text-sm-center mt-2 mb-1">{{User.FullName}}</h5>
                        </div>
                        <hr>
                        <div class="card-text text-sm-center">
                            <form action="Upload" method="post" enctype="multipart/form-data" name="UpLoad">
                                <input type="file" required name="file" id="file" accept="image/*" onchange="loadFile(event);" class="btn btn-light" />

                                <button type="submit" ng-click="LoadUser()" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Lưu
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Pub/Personal.js"></script>
<script src="~/Scripts/Pub/MD5.js"></script>
<script>
    function textAreaAdjust(o) {
        o.style.height = "1px";
        o.style.height = (25 + o.scrollHeight) + "px";
    }
</script>