@model ELearning_V2.Areas.GV.Models.BaiGiangModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="@Url.Action("ClassDetails","Lop", new {id=Model.MaLop })">Quay lại</a>
    <div>
        @Html.Raw(Model.NoiDung)
    </div>
    <div>
        <iframe width="560" height="315" src=@Model.URL frameborder="0" allowfullscreen></iframe>
    </div>

</div>

