
@{
    ViewBag.Title = "CreateTest";
    Layout = "~/Views/Shared/_LayoutLearnIT.cshtml";
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Bài giảng</h2>
                <div class="page_link">
                    <a href="~/Home/TrangChu">Home</a>
                    <a href="~/Lop/DayThem">Dạy thêm</a>
                    <a href="~/Lop/CourseDetail/@Model.CourseID">Course</a>
                    <a href="#">Create Test</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team_area p_120" ng-app="CreateTestApp" ng-controller="CreateTestController">
    <div class="container">
        <div class="main_title">
            <h2>Create Test</h2>
        </div>
        <div class="row">
        </div>
    </div>


</section>
<script src="~/Scripts/angular.js"></script>