
@{
    ViewBag.Title = "CreateLession";
    Layout = "~/Views/Shared/_LayoutLearnIT.cshtml";
}
@model ELearning_V2.DTO.LessionDTO
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Bài giảng</h2>
                <div class="page_link">
                    <a href="~/Home/GuessHomePage">Home</a>
                    <a href="~/Lop/DayThem#QuanLyBaiGiang">Quản lý bài giảng</a>
                    <a href="#">Tạo mới bài giảng</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team_area p_120" ng-app="CreateLessionApp" ng-controller="CreateLessionController" ng-init="InitUserID('@Model.UserID')">
    <div class="container">
        <form name="form">
            <div class="form-horizontal">
                <h2>Tạo bài giảng mới</h2>
                <hr />
                <div class="modal-body" style="margin-left:20px">
                    <div class="form-group">
                        <strong class="control-label"> Tên bài giảng <span class="small text-danger">(*)</span></strong>
                        <div style="padding: 10px 0px 15px 0px;">
                            <input class="form-control" ng-model="Name" required placeholder="Nhập tên bài giảng..." />

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <strong class="control-label"> Image </strong>
                            <br />
                            <div style="padding: 10px 0px 15px 0px;">
                                <input class="btn btn-outline-dark" type="file" ng-files="getTheFiles($files)" id="file" accept="image/*" />
                            </div>
                            <br />
                            <img id="output" width="330" height="185" src="~/Content/img/ClassImage/ClassDefault.jpg" alt="Card image cap">
                        </div>
                        <div class="form-group col-md-4">
                            <strong class="control-label"> Liên kết video </strong>
                            <br />
                            <div style="padding: 10px 0px 15px 0px;">
                                <input class="form-control" id="URL" type="text" ng-model="URL" name="input" ng-pattern="/^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})?$/" />
                                <span class="small text-danger" ng-if="form.input.$valid == false">Không đúng định dạng Url Youtube</span>
                            </div>
                            <br />
                            <iframe id="Video" width="330" height="185" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-4">
                            @Html.Partial("_TopicManage")
                        </div>

                    </div>
                    <div class="form-group">
                        <strong>Nội dung</strong>
                        <div style="padding: 10px 0px 15px 0px;">
                            <textarea id="Content"></textarea>
                            <script src="~/Assets/Plugin/ckeditor_Mod/ckeditor.js"></script>
                            <script>
                                CKEDITOR.replace("Content");
                            </script>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-dark text-info" ng-disabled="form.$valid == false" ng-click="save()">
                                Save
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        

    </div>

</section>
<script src="~/Content/js/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Pub/CreateLession.js"></script>


<script>
    document.getElementById('file').onchange = function (evt) {
        var tgt = evt.target || window.event.srcElement,
            files = tgt.files;

        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById("output").src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }

        // Not supported
        else {
            // fallback -- perhaps submit the input to an iframe and temporarily store
            // them on the server until the user's session ends.
        }
    }


</script>
