
@{
    ViewBag.Title = "DayThem";
    Layout = "~/Views/Shared/_LayoutLearnIT.cshtml";
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Dạy thêm</h2>
                <div class="page_link">
                    <a href='@Url.Action("TrangChu","Home")'>Home</a>
                    <a href="#">Dạy thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="finance_area">
    <div class="container">
        <div class="finance_inner row">
            <a class="h col-lg-3 col-sm-6" href="#Registration">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-rocket"></i>
                        </div>
                        <div class="media-body">
                            <h5>Đăng ký<br />Mở lớp</h5>
                        </div>
                    </div>
                </div>
            </a>
            <a class="h col-lg-3 col-sm-6" href="#DanhSach">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-list"></i>
                        </div>
                        <div class="media-body">
                            <h5>Danh sách lớp</h5>
                        </div>
                    </div>
                </div>
            </a>
            <a class="h col-lg-3 col-sm-6" href="#NganHangCauHoi">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-smile"></i>
                        </div>
                        <div class="media-body">
                            <h5>Ngân hàng<br />Câu hỏi</h5>
                        </div>
                    </div>
                </div>
            </a>
            <a class="h col-lg-3 col-sm-6" href="#QuanLyBaiGiang">
                <div class="finance_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="lnr lnr-tag"></i>
                        </div>
                        <div class="media-body">
                            <h5>Quản lý<br />Bài giảng</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<div ng-app="DayThemApp" ng-controller="DayThemController">
    <section class="packages_area p_120" id="Registration">
        <div class="container">
            <div class="row packages_inner">
                <div class="col-lg-3">
                    <div class="packages_text">
                        <h3>Chọn <br />Loại Lớp</h3>
                        <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="packages_item">
                        <div class="pack_head">
                            <i class="lnr lnr-graduation-hat"></i>
                            <h3>Cơ bản</h3>
                            <p>Lớp miễn phí</p>
                        </div>
                        <div class="pack_body">
                            <ul class="list" style="color:#777777;line-height:50px;border-bottom:1px solid #eeeeee;display:block;">
                                <li><p>Tối đa 15 học viên</p></li>
                            </ul>
                        </div>
                        <div class="pack_footer">
                            <h4>0VND</h4>
                            <a class="main_btn" href="#" data-toggle="modal" data-target="#DangKy" ng-click="DangKy(1)">Đăng ký</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="packages_item">
                        <div class="pack_head">
                            <i class="lnr lnr-star"></i>
                            <h3>Cao Cấp</h3>
                            <p>Lớp trả phí</p>
                        </div>
                        <div class="pack_body">
                            <ul class="list" style="color:#777777;line-height:50px;border-bottom:1px solid #eeeeee;display:block;">
                                <li><p>Tối đa 45 học viên</p></li>
                                <li><p>Thu phí bài giảng</p></li>
                            </ul>
                        </div>
                        <div class="pack_footer">
                            <h4>200.000VND</h4>
                            <button type="button" class="main_btn" data-toggle="modal" data-target="#DangKy" ng-click="DangKy(2)">Đăng ký</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="packages_item">
                        <div class="pack_head">
                            <i class="lnr lnr-diamond"></i>
                            <h3>Đặc quyền</h3>
                            <p>Lớp trả phí</p>
                        </div>
                        <div class="pack_body">
                            <ul class="list" style="color: #777777;line-height:50px;border-bottom:1px solid #eeeeee;display:block;">
                                <li><p>Không giới hạn học viên</p></li>
                                <li><p>Thu phí bài giảng</p></li>
                                <li><p>Thu phí theo lượt học</p></li>
                            </ul>
                        </div>
                        <div class="pack_footer">
                            <h4>500.000VND</h4>
                            <button type="button" class="main_btn" data-toggle="modal" data-target="#DangKy" ng-click="DangKy(3)">Đăng ký</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal fade" id="DangKy" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-info">Đăng ký lớp học</h3>
                            <button type="button" class="close" data-dismiss="modal" style="text-align:left" ng-click="Clear()">x</button>
                        </div>
                        <div class="modal-body" style="margin-left:20px">
                            <form class="form-horizontal row" name="AddNewForm">
                                <div class="col col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"> Tên Lớp </label>
                                        <input class="form-control" name="Name" ng-model="lop.Name" type="text" placeholder="Tên lớp ..." required maxlength="50" />
                                    </div>
                                    <div class="form-group" ng-if="type != 1">
                                        <label class="control-label"> Học phí </label>
                                        <input class="form-control" name="Price" ng-model="lop.Price" type="number" placeholder="Học phí ..." required maxlength="50" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> Lịch học </label>
                                        <input class="form-control" name="Schedule" ng-model="lop.Schedule" type="text" placeholder="Lịch học ..." required maxlength="50" />
                                        @*<input class="form-control" name="TypeShip" ng-model="Device.TypeShip" type="text" placeholder="Loại tàu ..." required maxlength="50" />*@
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> Mô tả </label>
                                        <textarea class="form-control" name="Description" ng-model="lop.Description" type="text" placeholder="Mô tả ..." required rows="3"></textarea>
                                    </div>

                                </div>
                                <div class="col col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"> Điều kiện </label>
                                        <textarea class="form-control" name="Condition" ng-model="lop.Condition" type="text" placeholder="Điều kiện ..." required rows="3"></textarea>
                                    </div>
                                    <div class="card-body">
                                        <div class="mx-auto d-block">
                                            <img id="output" ng-if="lop.Image == ''" class="" width="300" height="210" src="~/Content/img/ClassImage/ClassDefault.jpg" alt="Card image cap">
                                            <img id="output" ng-if="lop.Image != ''" class=""
                                                 width="167" height="158" src="~/Content/img/ClassImage/{{lop.Image}}" alt="Card image cap">
                                        </div>
                                        <hr>
                                        <div class="card-text text-sm-center">
                                            <input type="file" required name="file" id="file" accept="image/*" ng-files="getTheFiles($files)" onchange="loadFile(event);" class="btn btn-light" />

                                        </div>
                                    </div>

                                    @*<div>
                                            <label class="control-label"> Hình ảnh </label>
                                            <input class="form-control" name="Image" ng-model="Lops.Image" type="text" placeholder="Hình ảnh ..." required maxlength="50" ng-blur="ImeiDeviceExist(Device.DeviceImei)" />

                                        </div>*@
                                    @*<div class="form-group">
                                            <label class="control-label"> Ngày hết hạn </label>
                                            <input class="form-control" name="DateExpired" ng-model="Device.DateExpired" type="date" placeholder="Ngày hết hạn ..." required id="datefield" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"> Ghi chú </label>
                                            <textarea class="form-control" name="DeviceNote" ng-model="Device.DeviceNote" type="text" placeholder="Ghi chú ..." required rows="3"></textarea>
                                        </div>*@
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnSave" data-dismiss="modal" ng-click="Save($files)">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Clear()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="courses_area p_120" id="DanhSach">
        <div class="container">
            <div class="main_title">
                <h2>Lớp của tôi</h2>
            </div>
            <div class="row">
                <div class="col-md-4" style="display:flex">
                    <div id="SearchQuestion" class="input-group col-md-6">
                        <input class="form-control" ng-model="CSearchKey" type="text" placeholder="Tìm kiếm..." aria-label="SearchQuestion" aria-describedby="basic-addon2" />
                    </div>
                </div>
                <div class="col-md-2 offset-md-6" style="display:flex">
                    <div class="col-md-6">
                        <label style="width:max-content">Page size:</label>
                    </div>
                    <div class="input-group col-md-6">
                        <input class="form-control" type="number" ng-model="CpageSize" min="2" max="10" />
                    </div>
                </div>
            </div>

            <div class="progress-table-wrap">
                <div class="progress-table">
                    <div class="table-head">
                        <div class="serial">#</div>
                        <div class="percentage">Tên lớp</div>
                        <div class="visit">Sĩ số</div>
                        <div class="country">Trạng thái</div>
                    </div>
                    @*<div class="huy" ng-repeat="Lop in Lops">*@
                    <div dir-paginate="Lop in Lops | filter:CSearchKey | itemsPerPage: CpageSize" current-page="CcurrentPage" pagination-id="ListCourse">
                        <div class="table-row">
                            <div class="serial">{{$index + (CcurrentPage-1)*CpageSize+1}}</div>
                            <div class="percentage">{{Lop.Name}}</div>
                            <div class="visit">{{Lop.NumOfPeo}}</div>
                            <div class="country">
                                <div style="width:50px">
                                    <label ng-if="Lop.Status == 1">Mở</label>
                                    <label ng-if="Lop.Status == 0">Đóng</label>

                                </div>
                                <div class="dropdown">
                                    <a class="btn dropdown-toggle" role="button" aria-expanded="false" data-toggle="dropdown" data-target="Status{{$index}}"><i class="lnr lnr-cog"></i></a>
                                    <div class="dropdown-menu" id="Status{{$index}}">
                                        <a class="btn dropdown-item" role="button" ng-if="Lop.Status == 1" ng-click="ChangeCourseStatus(Lop.ID,0)">Đóng</a>
                                        <a class="dropdown-item" style="cursor:not-allowed" role="button" ng-if="Lop.Status == 1">Mở</a>
                                        <a class="dropdown-item" style="cursor:not-allowed" role="button" ng-if="Lop.Status == 0">Đóng</a>
                                        <a class="btn dropdown-item" role="button" ng-if="Lop.Status == 0" ng-click="ChangeCourseStatus(Lop.ID,1)">Mở</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="btn dropdown-item" ng-click="View(Lop.ID)">View</a>
                                        <a class="btn dropdown-item" ng-click="RemoveCourse(Lop.ID)">Remove</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="other-controller">
                        <div class="col-md-3 offset-md-9">
                            <dir-pagination-controls boundary-links="true" pagination-id="ListCourse"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                .huy:hover {
                    background-color: #c9ebba;
                }

                .dropdown-toggle::after {
                    display: none
                }
            </style>
        </div>
    </section>
    <hr />

    <section class="courses_area p_120" id="NganHangCauHoi">
        <div class="container">
            <div class="main_title">
                <h2>Ngân hàng câu hỏi</h2>
            </div>
            <div class="row">
                <div class="col-md-4" style="display:flex">
                    <div class="col-md-2">
                        <a class="btn btn-dark text-success" href="/Lop/CreateQuestion"><i class="fa fa-plus"></i></a>
                    </div>
                    <div id="SearchQuestion" class="input-group col-md-6">
                        <input class="form-control" ng-model="QSearchKey" type="text" placeholder="Tìm kiếm..." aria-label="SearchQuestion" aria-describedby="basic-addon2" />
                    </div>
                </div>
                <div class="col-md-2 offset-md-6" style="display:flex">
                    <div class="col-md-6">
                        <label style="width:max-content">Page size:</label>
                    </div>
                    <div class="input-group col-md-6">
                        <input class="form-control" type="number" ng-model="QpageSize" min="4" max="10" />
                    </div>
                </div>
            </div>
            <div class="progress-table-wrap">
                <div class="progress-table">
                    <div class="table-head">
                        <div class="serial">#</div>
                        <div class="percentage">Nội dung</div>
                        <div class="visit">Mức độ</div>
                        <div class="country">Trạng thái</div>
                    </div>
                    @*<div class="huy" ng-repeat="Q in Questions">*@
                    <div dir-paginate="Q in Questions | filter:QSearchKey | itemsPerPage: QpageSize" current-page="QcurrentPage" pagination-id="ListQuestion">
                        <div class="table-row">
                            <div class="serial">{{$index + (QcurrentPage-1)*QpageSize+1}}</div>
                            <div class="percentage">
                                <div ng-bind-html="Q.Content" style="display: block;white-space: nowrap;height: 30px;max-width: 400px;overflow: hidden;text-overflow: ellipsis;"></div>
                            </div>
                            <div class="visit">{{Q.Level}}</div>
                            <div class="country">
                                <div style="width:50px">
                                    <label ng-if="Q.Status == 1">Mở</label>
                                    <label ng-if="Q.Status == 0">Đóng</label>

                                </div>
                                <div class="dropdown">
                                    <a class="btn dropdown-toggle" role="button" aria-expanded="false" data-toggle="dropdown" data-target="Status{{$index}}"><i class="lnr lnr-cog"></i></a>
                                    <div class="dropdown-menu" id="Status{{$index}}">
                                        <a class="btn dropdown-item" role="button" ng-if="Q.Status == 1" ng-click="ChangeQuestionStatus(Q.ID,0)">Đóng</a>
                                        <a class="dropdown-item" style="cursor:not-allowed" role="button" ng-if="Q.Status == 1">Mở</a>
                                        <a class="dropdown-item" style="cursor:not-allowed" role="button" ng-if="Q.Status == 0">Đóng</a>
                                        <a class="btn dropdown-item" role="button" ng-if="Q.Status == 0" ng-click="ChangeQuestionStatus(Q.ID,1)">Mở</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="btn dropdown-item" data-toggle="modal" data-target="#ViewQuestion" ng-click="ViewQuestion(Q)">View</a>
                                        <a class="btn dropdown-item" ng-click="EditQuestion(Q.ID)">Edit</a>
                                        <a class="btn dropdown-item" ng-click="RemoveQuestion(Q)">Remove</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="other-controller">
                        <div class="col-md-3 offset-md-9">
                            <dir-pagination-controls boundary-links="true" pagination-id="ListQuestion"></dir-pagination-controls>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="ViewQuestion" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-info">Chi tiết câu hỏi</h3>
                        <button type="button" class="close" data-dismiss="modal" style="text-align:left">x</button>
                    </div>
                    <div class="modal-body" style="margin-left:20px">
                        <strong>Câu {{Question.ID}}</strong>
                        <br />
                        <label ng-bind-html="Question.Content"></label>
                        <p ng-repeat="an in Question.Answers">
                            <strong>{{Ans[$index]}}. </strong>
                            <label ng-bind-html="an.FContent"></label>
                        </p>
                        <br />
                        <strong>Đáp án: {{Question.DapAn}}</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <hr />

    <section class="courses_area p_120" id="QuanLyBaiGiang">
        <div class="container">
            <div class="main_title">
                <h2>Quản lý bài giảng</h2>
            </div>
            <div class="row">
                <div class="col-md-4" style="display:flex">
                    <div class="col-md-2">
                        <a class="btn btn-dark text-success" href="/Lop/CreateLession"><i class="fa fa-plus"></i></a>
                    </div>
                    <div id="SearchQuestion" class="input-group col-md-6">
                        <input class="form-control" ng-model="LSearchKey" type="text" placeholder="Tìm kiếm..." aria-label="SearchQuestion" aria-describedby="basic-addon2" />
                    </div>
                </div>
                <div class="col-md-2 offset-md-6" style="display:flex">
                    <div class="col-md-6">
                        <label style="width:max-content">Page size:</label>
                    </div>
                    <div class="input-group col-md-6">
                        <input class="form-control" type="number" ng-model="LpageSize" min="4" max="10" />
                    </div>
                </div>
            </div>
            <div class="progress-table-wrap">
                <div class="progress-table" style="min-width:600px">
                    <div class="table-head">
                        <div class="serial">#</div>
                        <div class="percentage">Tên bài giảng</div>
                        <div class="visit">Lượt xem</div>
                        <div class="country">Thao tác</div>
                    </div>
                    <div class="huy" dir-paginate="l in Lessions | filter:LSearchKey | itemsPerPage: LpageSize" current-page="LcurrentPage" pagination-id="ListLession">
                        <div class="table-row ">
                            <div class="serial">{{$index + (LcurrentPage-1)*LpageSize+1}}</div>
                            <div class="percentage">{{l.Name}}</div>
                            <div class="visit">{{l.View}}</div>
                            <div class="country">
                                <div class="dropdown">
                                    <a class="btn dropdown-toggle" role="button" aria-expanded="false" data-toggle="dropdown" data-target="Status{{$index}}"><i class="lnr lnr-cog"></i></a>
                                    <div class="dropdown-menu" id="Status{{$index}}">
                                        <a class="btn dropdown-item" ng-click="ViewLession(l.ID)">View</a>
                                        <a class="btn dropdown-item" ng-click="EditLession(l.ID)">Edit</a>
                                        <a class="btn dropdown-item" ng-click="RemoveLession(l.ID)">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="other-controller">
                <div class="col-md-3 offset-md-9">
                    <dir-pagination-controls boundary-links="true" pagination-id="ListLession"></dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ViewQuestion" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-info">Chi tiết câu hỏi</h3>
                        <button type="button" class="close" data-dismiss="modal" style="text-align:left">x</button>
                    </div>
                    <div class="modal-body" style="margin-left:20px">
                        <strong>Câu {{Question.ID}}</strong>
                        <br />
                        <label ng-bind-html="Question.Content"></label>
                        <p ng-repeat="an in Question.Answers">
                            <strong>{{Ans[$index]}}. </strong>
                            <label ng-bind-html="an.FContent"></label>
                        </p>
                        <br />
                        <strong>Đáp án: {{Question.DapAn}}</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<script src="~/Content/js/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Pub/DayThem.js"></script>
<script src="~/Scripts/Pub/dirPagination.js"></script>



<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            ay
            URL.revokeObjectURL(output.src)
        }
        //fileValidation()
    };
</script>
<style>
    .h:hover {
        background-color: #c9ebba;
    }
</style>
@*<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>*@
