<div id="main-wait" >
    <div id="wait">
        Đang cập nhật dữ liệu, vui lòng chờ giây lát ... <br />
        <img src="~/Content/img/icon/waiting2.gif" width="200" height="200" />
    </div>
</div>
<style>
    #main-wait {
    
        display: none;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100vh;
        padding: 2px;
        background-color: #fff;
        z-index:9;
        opacity:1;
        font-size:20px;

    }
    #wait {
        margin-top:25%;
    }

</style>
<script>

    //var wait = function () {
    //    $(document).ajaxStart(function () {
    //        $("#main-wait").css("display", "block");
    //    });
    //    $(document).ajaxComplete(function () {
    //        $("#main-wait").css("display", "none");
    //    });
   
    //};
    //setTimeout(wait(), 2000);
    function runWaiting() {
        $("#main-wait").css("display", "block");
        $("body").css("overflow", "hidden");

    }
    function downWaiting() {
        $("#main-wait").css("display", "none");
        $("body").css("overflow", "auto");
    }

</script>